// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@mixin box-shadow($hoffset, $voffset, $blur, $spread, $color) {
    -webkit-box-shadow: $hoffset $voffset $blur $spread $color;
    -moz-box-shadow: $hoffset $voffset $blur $spread $color;
    box-shadow: $hoffset $voffset $blur $spread $color;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
    font: 100% $font-family-sans-serif;
    color: $primary-color;
    background-color: $background-color;
    height: 100%;
    position: relative;
}

h1 {
    text-decoration-line: underline;
}

h2 {
    @extend %centered;
}

a {
    color: inherit;
    max-height: 100%;
    max-width: 100%;
}

a:hover {
    color: inherit;
}

label {
    img {
        cursor: pointer;
    }
}

img {
    max-height: 100%;
    max-width: 100%;
}

.navbar {
    z-index: 1;
    position: fixed;
    width: 100%;
    @include box-shadow(0, 1px, 3px, 0, rgba(0, 0, 0, 0.45));
}

.hidden-input {
    display: none;
}

.fake-gutter {
    padding-left: 15px;
    padding-right: 15px;
}

.full-padding {
    padding: 15px;
}

#page-main {
    z-index: 2;
    padding-top: $navHeight+2.5em;
    min-height: 100%;
    background-color: $page-color;
    padding-bottom: 1em;
}

#brand-image {
    height: $navHeight;
}

#register-box {
    padding: 1em;
}

#file-limit {
    vertical-align: bottom;
}

#event-image-container {
    text-align: center;
    width: 100%;
}

#event-image {
    @extend %event-image-template;
    height: 9em;
    width: 9em;
}

#event-image-thumb{
    @extend %event-image-template;
    height: 5em;
    width: 5em;
}

#description-editor{
    height: 20em;
}

#event-name-heading {
    @extend %userText;
}

#description {
    resize: none;
}

#event-container{
    //border: solid thin black;
}